@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
  font-family: 'Baloo 2', cursive;
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  font-size: 50px;
  color: white;
  height: 1000px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.container-flex {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

nav {
  /* display: flex; */
  background-color: tomato;
  margin: 0 auto;
}

.item {
  padding: 20px;
  
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

li {
  display: inline-flex;
}

.item:hover {
  color: white;
  background-color: rgb(255, 124, 100);
}

#toggle-btn {
  float: right;
  position: relative;
}

.content {
  flex: 60%;
  text-align: justify;
  padding: 20px;
}

.judul-content {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 50px;
}

.sub-judul-content {
  font-weight: bold;
  font-size: 25px;
}

.sub-judul {
  font-weight: bold;
  font-size: 15px;
}

aside {
  flex: 30%;
  padding: 20px;
}

.profile {
  padding: 20px;
}

.test {
  background-color: blueviolet;
}

span {
  font-weight: bolder;
  font-size: 20px;
}